.welcome{
    background-image: url(../image/h_img.jpg); 
    background-size: cover;
    color: white;
}
.lead{
    font-size: 15px;
}
.display-4{
    font-size: 40px;
}
.about{
    background-image: url(../image/s_image.jpg);
    background-size: cover;
    color: white; 
}
.contact{
    background-image: url(../image/c_image.jpg);
    background-size: cover;
    color: white; 
}
input{
    width: 100%;
    background-color: transparent;
}
::placeholder{
    color: white;
}
textarea{
    resize: none;
    background-color: transparent;
    color: white;
}